In [8]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Amit', 'Sita', np.nan, 'Raj'],
    'Age': [25, np.nan, 22, 28],
    'City': ['Lahore', 'Islamabad', 'Karachi', None]
}

df = pd.DataFrame(data)
print(df)
print(df.isna())
df.isna().sum()

   Name   Age       City
0  Amit  25.0     Lahore
1  Sita   NaN  Islamabad
2   NaN  22.0    Karachi
3   Raj  28.0       None
    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

Name    1
Age     1
City    1
dtype: int64

In [ ]:
                                                    USING DROPNA FUNCTION

In [14]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Ali', 'Sara', None, 'Khan'],
    'Age': [23, np.nan, 30, 45],
    'City': ['Lahore', 'Karachi', 'Islamabad', None]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
clean_df = df.dropna()
print("After Dropna:()")
print(clean_df)

Original DataFrame:
   Name   Age       City
0   Ali  23.0     Lahore
1  Sara   NaN    Karachi
2  None  30.0  Islamabad
3  Khan  45.0       None
After Dropna:()
  Name   Age    City
0  Ali  23.0  Lahore

In [ ]:
                                         FILLING NUN VALUES USING FILLNA

In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [10, np.nan, 30, None],
    'B': [np.nan, 20, None, 40]
})
df = pd.DataFrame(data)
print("Orignal DataFrame:")
print(df)
df_filled = df.fillna(0)
print(df_filled)

Orignal DataFrame:
   Name   Age       City
0   Ali  23.0     Lahore
1  Sara   NaN    Karachi
2  None  30.0  Islamabad
3  Khan  45.0       None
   Name   Age       City
0   Ali  23.0     Lahore
1  Sara   0.0    Karachi
2     0  30.0  Islamabad
3  Khan  45.0          0

In [ ]:
                                       REMOVE DUPLICATE ROWS

In [23]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'Ali', 'Khan', 'Zara'],
    'Age':  [25,    30,     25,     22,     30]
})


df_unique = df.drop_duplicates()
print(df_unique)

   Name  Age
0   Ali   25
1  Sara   30
3  Khan   22
4  Zara   30

In [ ]:
                                               STRIP EXTRA VALUES

In [25]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['  Ali', 'Sara  ', '    Khan  '],
    'City': [' Lahore', 'Karachi ', ' Islamabad ']
})

print("Original:")
print(df)

df['Name'] = df['Name'].str.strip()
df['Name'] = df['Name'].str.strip()
print(df)

Original:
         Name         City
0         Ali       Lahore
1      Sara       Karachi
2      Khan     Islamabad
   Name         City
0   Ali       Lahore
1  Sara     Karachi
2  Khan   Islamabad

In [ ]:
                                                      REPLACE WRONG TEXT

In [26]:
import pandas as pd

df = pd.DataFrame({
    'Product': ['T-Shirt', 'Hat', 'T-Shirt', 'Bikee'],
    'Price': [20, 10, 20, 200]
})

df['Product'] = df['Product'].replace('Bikee', 'Bike')
print(df)

   Product  Price
0  T-Shirt     20
1      Hat     10
2  T-Shirt     20
3     Bike    200

In [ ]:
                                              CONVERT DATA TYPES

In [27]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Age': ['25', '30', '22', '40'],            
    'Salary': ['50000', '60000', '55000', 'abc'],  
    'JoinDate': ['01-02-2020', '15-03-2021', '20-01-2022', '05-08-2023'],  
    'Active': ['True', 'False', 'True', 'False']  
})

print("Before conversion:\n", df)
print("\nData Types:\n", df.dtypes)

Before conversion:
   Age Salary    JoinDate Active
0  25  50000  01-02-2020   True
1  30  60000  15-03-2021  False
2  22  55000  20-01-2022   True
3  40    abc  05-08-2023  False

Data Types:
 Age         object
Salary      object
JoinDate    object
Active      object
dtype: object

In [ ]:
                                                 REMOVE UNWANTED CHARACTER

In [28]:
import pandas as pd

df = pd.DataFrame({
    'Product': [
        'Laptop#Dell!', 
        'Smartphone@Samsung', 
        'Keyboard (Wireless)', 
        'HDMI Cable***', 
        'USB-C Adapter%20'
    ]
})

df['Cleaned_Product'] = (df['Product']
    .str.replace(r'[^\w\s]', '', regex=True)  
    .str.strip()                              
    .str.lower()                             
)

print(df)

               Product    Cleaned_Product
0         Laptop#Dell!         laptopdell
1   Smartphone@Samsung  smartphonesamsung
2  Keyboard (Wireless)  keyboard wireless
3        HDMI Cable***         hdmi cable
4     USB-C Adapter%20     usbc adapter20

In [ ]:
                                               REMOVE COLUMN

In [29]:
import pandas as pd

df = pd.DataFrame({
    'Country': ['PK', 'IN', 'US'],
    'Population': [240, 1400, 330],
    'Continent': ['Asia', 'Asia', 'North America'],
    'Temp_Info': [None, 45, None]
})

print("Original:")
print(df)


df2 = df.drop('Temp_Info', axis=1)
print("\nAfter drop('Temp_Info'):\n", df2)

del df2['Continent']
print("\nAfter del df2['Continent']:\n", df2)

pop_col = df2.pop('Population')
print("\nAfter pop(), remaining df2:\n", df2)
print("\nPopped column:", pop_col)

Original:
  Country  Population      Continent  Temp_Info
0      PK         240           Asia        NaN
1      IN        1400           Asia       45.0
2      US         330  North America        NaN

After drop('Temp_Info'):
   Country  Population      Continent
0      PK         240           Asia
1      IN        1400           Asia
2      US         330  North America

After del df2['Continent']:
   Country  Population
0      PK         240
1      IN        1400
2      US         330

After pop(), remaining df2:
   Country
0      PK
1      IN
2      US

Popped column: 0     240
1    1400
2     330
Name: Population, dtype: int64

In [ ]:
                                         FILTER DATA

In [30]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'Usman', 'Khan', 'Zara'],
    'Age':  [23,    30,     22,     35,     28],
    'City': ['Lahore', 'Karachi', 'Islamabad', 'Lahore', 'Karachi'],
    'Salary': [50000, 60000, 45000, 75000, 62000]
})


filter1 = df[df['Age'] > 28]

filter2 = df[(df['Age'] > 25) & (df['Salary'] > 60000)]

filter3 = df[df['City'].isin(['Lahore','Islamabad'])]

filter4 = df.query('Age > 25 and City == "Lahore"')

print(filter1)
print(filter2)
print(filter3)
print(filter4)

   Name  Age     City  Salary
1  Sara   30  Karachi   60000
3  Khan   35   Lahore   75000
   Name  Age     City  Salary
3  Khan   35   Lahore   75000
4  Zara   28  Karachi   62000
    Name  Age       City  Salary
0    Ali   23     Lahore   50000
2  Usman   22  Islamabad   45000
3   Khan   35     Lahore   75000
   Name  Age    City  Salary
3  Khan   35  Lahore   75000

In [ ]:
                                          DROP COLUMN

In [31]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'Usman', 'Khan'],
    'Age': [25, 30, 22, 35],
    'City': ['Lahore', 'Karachi', 'Islamabad', 'Lahore'],
    'Salary': [50000, 60000, 45000, 75000]
})

print("Original DataFrame:")
print(df)

df = df.drop('Salary', axis=1)
print("\nAfter dropping 'Salary':")
print(df)

df = df.drop(['City'], axis=1)
print("\nAfter dropping 'City':")
print(df)

Original DataFrame:
    Name  Age       City  Salary
0    Ali   25     Lahore   50000
1   Sara   30    Karachi   60000
2  Usman   22  Islamabad   45000
3   Khan   35     Lahore   75000

After dropping 'Salary':
    Name  Age       City
0    Ali   25     Lahore
1   Sara   30    Karachi
2  Usman   22  Islamabad
3   Khan   35     Lahore

After dropping 'City':
    Name  Age
0    Ali   25
1   Sara   30
2  Usman   22
3   Khan   35

In [ ]:
                                                     FIND OUTLEARS

In [33]:
import pandas as pd

data = {'score': [55, 60, 61, 62, 63, 64, 1000, 65, 66, 67]}
df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   score
0     55
1     60
2     61
3     62
4     63
5     64
6   1000
7     65
8     66
9     67